/*Universal Selector Font Segoe with 0 margin and padding slightly to the left*/
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

/*Header Section*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;;
    background: grey;
    color: white;
    padding-bottom: 2%;
    
}

header a {
    color: white;
    text-decoration: none;
}
/*Hover over page nav section*/
header a:hover {
    color: black;
    text-shadow: 0 0 10px #0e657b
}

/*Flex Containers for Main Sections*/
.container {
    display: flex;
}

.flex-start {
    justify-content: space-evenly;
    align-items: center;
}
/*<h2> content */
h2 {
    padding: 20px;
    margin-top: 5%;
    color: #0e657b;
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 5em

}

/*AboutMe, Work, Contact Me, and Resume Information */
.section-info-assets {
    width: 100%;
    border-left: 5px solid black;;
    flex-wrap: wrap;
    justify-content: center; 
    margin-left: 100px;
    margin-top: 5%;
}

/*Work Section*/
.links a{
    display: flex;
    background-color: #0e657b;
    width: 350px;
    height: 350px;
    border: 3px solid black;
    box-shadow: .5em .5em .5em rgb(72, 70, 70);
    border-radius: 6%;
    color:black;
    text-decoration: none;
    font-size: large;
    justify-content: center;
    align-items: center;
    opacity: 70%;;
    margin: 1%

}

.links a:hover {
    display: flex;
    opacity: 100%;
    box-shadow: .5em .5em .5em rgb(72, 70, 70);
    font-size: 1.5em;
}


/*Contact Me Section*/

#github {
    width: 10em
}

#contactemailtextsize {
    font-size: 4em;
    text-decoration: none;
    color: black;
}
.class {
    background-image: url("");
}

/*when screen shrinks for desktop and for mobile devices*/
@media screen and (max-width: 700px) {
    header { 
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {
    section { 
        display: flex;
        flex-direction: column;
        flex-basis: 10%;
    }
}