/*Universal Selector Font Segoe with 0 margin and padding slightly to the left*/
* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    }

/*Header Section*/

h1 {
    font-size: 5em;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3c8192;
    width: 103%;
    height: 12em;
    color: white;;
    padding: .5em;
}
/*Navigation Header Edits*/
header a {
    color: white;
    text-decoration: none;
    font-size: 2em;
    padding: .5em;
    margin-right: 2em;
}

/*Hover over page nav section*/
header a:hover {
    color: black;
    text-shadow: 0 0 10px #0e657b
}

#ProfilePic {
    height: 200px;
    width: 200px;
    border-radius: 6%;
    flex-wrap: wrap;
        
}

/*Flex Containers for Main Sections*/
.container {
    display: flex;
}

/*Aligning content on the main and cross axis*/
.flex-start {
    justify-content: space-evenly;
    align-items: center;
}
/*Heading 2 content */
h2 {
    padding: 20px;
    margin-top: 5%;
    color: #3c8192;
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 5em;
}
/*Paragraph Tag Content*/
p {
    display: flex;
    font-size: 3em;
    padding-left: 2em;
    justify-content: center;
    flex-wrap: wrap;
}

/*AboutMe, Work, Contact Me, and Resume Information */
.section-info-assets {
    width: 100%;
    border-left: 5px solid black;
    flex-wrap: wrap;
    justify-content: center; 
    margin-left: 100px;
    margin-top: 5%;
}

/*Work Section for clickable link imgaes*/
.links a{
    display: flex;
    background-color: #0e657b;
    width: 20em;
    height: 20em;
    border: .8em solid black;
    box-shadow: .5em .5em .5em rgb(72, 70, 70);
    border-radius: 6%;
    color:black;
    font-size: larger;
    justify-content: flex-start;
    align-items: center;
    opacity: 70%;;
    margin: 1%;
}

/*Mouse Hover content sectino for the Work content*/
.links a:hover {
    display: flex;
    opacity: 100%;
    box-shadow: .5em .5em .5em rgb(72, 70, 70);

}

.links a:first-child {
    width: 23em;
    height: 23em;
}
/*Horiseon image for the work portfolio section*/
#HoriseonImage {
    background-image: url(Assets/Horiseon-page.PNG);
    background-size: 120%;
    text-decoration: none;
    color: white;
    align-items: flex-start;
    font-size: 20px
}
/*In development images, replace with future deployed content*/
#indevelopment {
    background-image: url(Assets/Gear-cogs.PNG);
    background-size: 200%;
    background-position: center;
    text-decoration: none;
}

/*Contact Me Section*/

/*Updating image size of the github content*/
#github {
    width: 14em
}
/*Increasing Contact Email Text*/
#contactemailtextsize {
    font-size: 4em;
    text-decoration: none;
    color: black;
}

/*Updating the hover options for the Contact Email link*/
#contactemailtextsize:hover {
    text-decoration: underline;
    font-style:oblique
}

/*when screen shrinks for desktop and for mobile devices*/
@media screen and (max-width: 1146px) {
    header {
        flex-direction: column;
        width: 100%;
        height: 40em;
        font-size: .9em;
        justify-content: center;
        align-items: center;
    } 
    header nav {
        margin-top: 5%;
        height: 20%;
    }
    header #ProfilePic {
        height: 15em;
        width: 15em;
    }
    section { 
        display: flex;
        flex-direction: column;
        flex-basis: 10%;
        margin-top: 5px;
        padding: 0;
    }   
    section h2 {
        font-size: 2em;
        justify-content: flex-start;
    }   
    .section-info-assets {
        border: none        
    }   
    .links a { 
        width: 7em;
        height: 7em;
        font-size: 1em;
        border: .3em solid black;
        justify-content: center;
    }   
    p {
        font-size: 1em;
    }
}

@media screen and (max-width: 500px) {
    header {
        flex-direction: column;
        width: 100%;
        height: em;
        font-size: .4em;
        justify-content: center;
        align-items: center;
    } 
    section { 
        display: flex;
        flex-direction: column;
        flex-basis: 10%;
        margin-top: 5px;
        padding: 0;
    }   
    section h2 {
        font-size: 2em;
        justify-content: flex-start;
    }   
    .section-info-assets {
        border: none
    } #ProfilePic {
        height: 55px;
        width: 55px;
    }   
    .links a { 
        width: 7em;
        height: 7em;
        font-size: 1em;
        border: .3em solid black;
        margin-right: 110px;
        justify-content: center;
    }   
    #HoriseonImage {
        background-size: 120%;
    }
    p {
        font-size: 1em;
    }
}
